
htmml, body{
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: azure;
    font-family: sans-serif;
}
.header .links{
    display: flex;
    list-style: none;
    gap: 10px;    
}
.header a {
    text-decoration: none;
    color: azure;
}
.content{
    flex: auto;
}
.top{
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color:#1f2937 ;
    padding-bottom: 30px;
    color: white;
    font-family: sans-serif;
}
img {
    border: solid 2px white;
    border-radius: 10px;
}
.top img {
    width: 300px;
    height: auto;
}
button{
    border-radius: 8px;
    height: 20px;
    background-color: #3882f6;
    color: white;
    border-color: white;
}
.button-banner button{
    border-color: #3882f6;
}
.welcome-statement{
    align-self: center;
}
.information {
    text-align: center;
    background-color: grey;
    color: white;
}
.imgs{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: azure   ;
}
.info-img img{
    height: 80px;
}
.information h1 {
    margin: 0px;
    margin-bottom: 20px;
}
.quote{
    width: 50vh;
}
.testimonial{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}
.sign-up{
    display: flex;
    justify-content: center;
}
.button-banner{
    display: flex;
    align-self: center;
}
.button-banner button{
    align-self: center;
}
.footer{
    text-align: center;
    width: 100%;
    background-color: #1f2937;
    color: azure;
    font-family: "Roboto", sans-serif;
}


